@forward "utils";
@use "./utils/color" as color;
@use "./utils/font" as font;
//Reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: font.$weight-h;
  text-align: left;
  width:100%;
}
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
button {
  outline: none;
  border: none;
  color:color.$l-grey;
}
p{
  line-height:1.2;
  font-size: 1rem;
  color: color.$l-grey;
}
//Elements
body {
  font-family: "Overpass", san-serif;
  background-color: color.$d-blue;
  color: color.$white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
.display {
  display: none;
}
.btn{
  width:100%;
  height:50px;
  background-color: color.$orange;
  border-radius: 25px;
  text-align: center;
  font-family:inherit;
  color: color.$white;
  font-weight:font.$weight-h;
  font-size:1rem;
  transition: all ease-in-out 700ms;
  &:hover{
    background-color:color.$white;
    color:color.$orange;
  }
  &__p{
    width:50%;
    height:40px;
    border-radius:25px;
    background-color: color.$d-blue;
    color:color.$orange;
  }
  &__clicked{
    background-color: color.$orange;
  }
}
//Composition
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  &__row {
    flex-direction: row;
    gap: 20px;
  }
  &__start {
    justify-self: flex-start;
    align-self: flex-start;
  }
}

.card {
  width: 25rem;
  height: 25rem;
  border: none;
  border-radius: 15px;
  background-color: color.$vd-blue;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}
.circle {
  border-radius: 50%;
  &__star{
    border-radius: 50%;
    padding:20px;
    background-color: color.$d-blue;
  }
   width:50px;
   height:50px;
  background-color: color.$d-blue;
  text-align: center;
  padding-top: 15px;
  transition: all ease-in-out 700ms;
  &:hover{
    background-color:color.$l-grey;
  }
  &:focus{
    background-color:color.$orange;
  }
}
@media only screen and (max-width:425px){
  .card{
    height:25rem;
    max-width:18rem;
  }
  .circle{
    width:2.5rem;
    height:2.5rem;
    
  }
  .btn{
    &__p{
      width: 75%;
    }
  }
}
