@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
$weight-p: 400;
$weight-h: 700;
.t-center {
    text-align: center;
}
.t-left{
    text-align: start;
}
.t-right{
    text-align: end;
}