.mg1 {
  margin-top: 10px;
}
.mg2 {
  margin-right: 15px;
}
.mg3 {
  margin-bottom: 10px;
}
.mg4 {
  margin-left: 15px;
}
.mg-center {
  margin: 0 auto;
}
.pd1 {
  padding-top: 10px;
}
.pd2 {
  padding-right: 15px;
}
.pd3 {
  padding-bottom: 10px;
}
.pd4 {
  padding-left: 15px;
}
.height {
  height: 100%;
}
